@model StayLive.Models.ChangePassword

<div class="row">
    <div class="col-md-12">
        <div class="floating-labels">
            <div class="form-group">
                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @Id = "txtCurrentPasswordMine" })
                <span class="bar"></span>
                <label for="txtCurrentPasswordMine">@StayLive.Resources.General.CurrentPassword</label>
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="floating-labels">
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @Id = "txtPasswordMine" })
                <span class="bar"></span>
                <label for="txtPasswordMine">@StayLive.Resources.General.Password</label>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="floating-labels">
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @Id = "txtConfirmPasswordMine" })
                <span class="bar"></span>
                <label for="txtConfirmPasswordMine">@StayLive.Resources.General.ConfirmPassword</label>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
