<footer class="footer"> 
    <span class="pull-left m-l-40 m-t-5">
        2019 © Stay Live. All Rights Reserved 
    </span>
    <div class="pull-right m-r-40 visible-lg visible-md">
        <a href="@Url.Empty()" class="btn btn-facebook waves-effect btn-circle waves-light white-text"> <i class="fa fa-facebook"></i> </a>
        <a href="@Url.Empty()" class="btn btn-twitter waves-effect btn-circle waves-light white-text"> <i class="fa fa-twitter"></i> </a>
        <a href="@Url.Empty()" class="btn btn-instagram waves-effect btn-circle waves-light white-text"> <i class="fa fa-instagram"></i> </a>
        <a href="@Url.Empty()" class="btn btn-linkedin waves-effect btn-circle waves-light white-text"> <i class="fa fa-linkedin"></i> </a>
        <a href="@Url.Empty()" class="btn btn-youtube waves-effect btn-circle waves-light white-text"> <i class="fa fa-youtube"></i> </a>
    </div>
</footer>
