@model StayLive.Models.ResetPassword

@Html.HiddenFor(model => model.Id)
<div class="row">
    <div class="col-md-12">
        <div class="floating-labels">
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @Id = "txtPassword" })
                <span class="bar"></span>
                <label for="txtPassword">@StayLive.Resources.General.Password</label>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="floating-labels">
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @Id = "txtConfirmPassword" })
                <span class="bar"></span>
                <label for="txtConfirmPassword">@StayLive.Resources.General.ConfirmPassword</label>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
